{% extends 'generic/object.html' %}
{% load helpers %}
{% load humanize %}
{% load plugins %}

{% block title %}{{ object }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="breadcrumb-item">
    <a
        href="{% url 'plugins:netbox_inventory:consumabletype_list' %}?{{ object.kind }}_type_id={{ object.hardware_type.pk }}">
        {{ object.storage_location }} {{ object.consumable_type.name }}</a>
</li>
{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Consumable</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Consumable Type</th>
                        <td><a href="{{object.consumable_type.get_absolute_url}}">
                                {{ object.consumable_type.name|placeholder }}</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Storage Location</th>
                        <td>{{ object.storage_location|placeholder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Quantity</th>
                        <td class="font-monospace">{{ object.quantity|placeholder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Alert At Quantity</th>
                        <td class="font-monospace">{{ object.alert_at_quantity|placeholder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Stock Status</th>
                        <td>{{ object.quantity_status|placeholder }}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% include 'inc/panels/custom_fields.html' %}
        {% include 'inc/panels/comments.html' %}
        {% plugin_left_page object %}
    </div>
</div>
<div class="row mb-3">
    <div class="col col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock content %}