{% load helpers %}

<div class="card">
  <h5 class="card-header">Assets</h5>
  <ul class="list-group list-group-flush">
    {% for asset_stat in asset_stats %}
      <a href="{% url 'plugins:netbox_inventory:asset_list' %}?{{ asset_stat.filter_field }}={{ object.pk }}{{ asset_stat.extra_filter }}" class="list-group-item list-group-item-action d-flex justify-content-between">
        {{ asset_stat.label|bettertitle }}
        {% if asset_stat.count %}
          <span class="badge bg-primary rounded-pill">{{ asset_stat.count }}</span>
        {% else %}
          <span class="badge bg-light rounded-pill">&mdash;</span>
        {% endif %}
      </tr>
      </a>
    {% endfor %}
  </ul>
</div>
