{% load helpers %}

<div class="card">
    <h5 class="card-header">Asset</h5>
    <div class="card-body">
    {% if asset %}
    <table class="table table-hover attr-table">
        <tr>
            <th scope="row"><span title="Asset name">Name</span></th>
            <td>{{ asset.name|placeholder }}</td>
        </tr>
        <tr>
            <th scope="row"><span title="Asset serial number">Serial Number</span></th>
            <td><a href="{% url "plugins:netbox_inventory:asset" asset.pk %}">{{ asset.serial }}</a></td>
        <tr>
            <th scope="row"><span title="Asset status">Status</span></a></th>
            <td>{% badge asset.get_status_display bg_color=asset.get_status_color %}</a></td>
        </tr>
    </table>
    {% else %}
    <div class="text-muted">None</div>
    {% endif %}
    </div>
    {% if asset %}
    <div class="card-footer text-end noprint">
      <a href="{% url 'plugins:netbox_inventory:asset' asset.pk %}?content_type={{ object|content_type_id }}&object_id={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-primary btn-sm">
        <i class="mdi mdi-vector-link" aria-hidden="true"></i> Edit assignment
      </a>
    </div>
    {% else %}
    <div class="card-footer text-end noprint">
      <a href="{% url 'plugins:netbox_inventory:asset_list' %}?content_type={{ object|content_type_id }}&object_id={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-primary btn-sm">
        <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Assign asset
      </a>
    </div>
    
    {% endif %}
</div>
